UseColor: true
WarningsAsErrors: '*'
Checks: |-
  *,
  bugprone-*,
  cert-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  -abseil-*,
  -altera-*,
  -boost-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-unused-return-value,
  -cert-err09-cpp,
  -cert-err33-c,
  -cert-err58-cpp,
  -cert-err61-cpp,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -fuchsia-*,
  -google-build-using-namespace,
  -google-runtime-int,
  -google-runtime-references,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -performance-no-int-to-ptr,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-throw-by-value-catch-by-reference,
  -misc-use-internal-linkage,
  -readability-avoid-return-with-void-value,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-redundant-member-init
