name: sanitizers

on:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:
    branches:
      - main
      - 'release-*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  sanitize:
    strategy:
      fail-fast: false
      matrix:
        server:
          - 7.6.2
        sanitizer:
          - asan
          - lsan
          - tsan
          - ubsan
          - valgrind
        tls:
          - tls
          - plain
    runs-on: ubuntu-24.04
    services:
      couchbase:
        image: couchbase:enterprise-${{ matrix.server }}
        ports:
          - 8091-8096:8091-8096
          - 11210:11210
          - 18091-18096:18091-18096
          - 11207:11207
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libssl-dev cmake curl wget gnupg2 gdb clang clang-tools valgrind
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Initialize couchbase
        env:
          CB_TRAVEL_SAMPLE: yes
        run: ./bin/init-cluster
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}
      - name: Build tests
        env:
          CB_SANITIZER: ${{ matrix.sanitizer }}
          # SA: see CXXCBC-571, Valgrind reports memory leak, because ASIO does
          # not deallocate thread-local state of OpenSSL properly
          CB_BORINGSSL: OFF
        run: ./bin/build-tests
      - name: Check couchbase
        run: ./bin/check-cluster
      - name: Run tests
        timeout-minutes: 120
        env:
          CB_SANITIZER: ${{ matrix.sanitizer }}
          TEST_SERVER_VERSION: ${{ matrix.server }}
          TEST_CONNECTION_STRING: ${{ matrix.tls == 'tls' && 'couchbases://127.0.0.1?trust_certificate=cluster.crt' || 'couchbase://127.0.0.1' }}
          TEST_LOG_LEVEL: trace
        run: ./bin/run-unit-tests
      - name: Upload report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: report-${{ matrix.sanitizer }}-${{ matrix.tls }}-${{ matrix.server }}
          path: |
            cmake-build-tests-${{ matrix.sanitizer }}/Testing/Temporary/*.log
