name: tests
permissions:
  contents: read
  packages: read

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - main
      - release-*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libssl-dev cmake gcc g++ curl gdb
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Validate test labels
        run: ./bin/validate-test-labels
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}
      - name: Build tests
        timeout-minutes: 40
        run: ./bin/build-tests
        env:
          CB_NUMBER_OF_JOBS: 8
      - name: Upload build artifacts
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: ./cmake-build-tests
  unit:
    needs: build
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libssl-dev cmake gcc g++ curl gdb
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./cmake-build-tests
      - name: Run tests
        timeout-minutes: 40
        env:
          TEST_LOG_LEVEL: trace
        run: |
          chmod -R +x ./cmake-build-tests
          ./bin/run-unit-tests
  integration:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        server:
          - 8.0.0-3777
          - 7.6.7
          - 7.2.8
          - 7.1.6
          - 7.0.5
        suite:
          - integration
          - transaction
        include:
          - server: 6.6.6
            suite: integration
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libssl-dev cmake gcc g++ curl gdb
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build
          path: ./cmake-build-tests
      - name: Create Couchbase cluster with cbdinocluster
        id: cbdino
        uses: ./.github/actions/create-cluster
        with:
          version: ${{ matrix.server }}
          suite: ${{ matrix.suite }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check couchbase
        env:
          HOST: ${{ steps.cbdino.outputs.ip }}
        run: ./bin/check-cluster
      - name: Run tests
        timeout-minutes: 40
        env:
          TEST_SERVER_VERSION: ${{ matrix.server }}
          TEST_CONNECTION_STRING: ${{ steps.cbdino.outputs.connstr }}
          TEST_LOG_LEVEL: trace
        run: |
          chmod -R +x ./cmake-build-tests
          ./bin/run-${{ matrix.suite }}-tests
      - name: Remove Couchbase cluster
        uses: ./.github/actions/remove-cluster
        with:
          id: ${{ steps.cbdino.outputs.id }}
