name: tests

on:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:
    branches:
      - main
      - 'release-*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        server:
          - 7.6.2
          - 7.2.5
          - 7.1.6
          - 7.0.5
        suite:
          - unit
          - transaction
        include:
          - server: 6.6.6
            suite: unit

    runs-on: ubuntu-20.04
    services:
      couchbase:
        image: couchbase:enterprise-${{ matrix.server }}
        ports:
          - 8091-8096:8091-8096
          - 11210:11210
          - 18091-18096:18091-18096
          - 11207:11207
    steps:
      - name: Install build environment
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libssl-dev cmake gcc g++ curl gdb
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Initialize couchbase for transactions testing
        if: ${{ matrix.suite  == 'transaction' }}
        env:
          CB_SEC_BUCKET: 'secBucket'
        run: ./bin/init-cluster
      - name: Initialize couchbase for non-transactions testing
        if: ${{ matrix.suite != 'transaction' }}
        env:
          CB_TRAVEL_SAMPLE: yes
        run: ./bin/init-cluster
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}
      - name: Build tests
        timeout-minutes: 40
        env:
          CB_TEST_SUITE: ${{ matrix.suite }}
        run: ./bin/build-tests
      - name: Check couchbase
        run: ./bin/check-cluster
      - name: Run tests
        timeout-minutes: 40
        env:
          TEST_SERVER_VERSION: ${{ matrix.server }}
          TEST_CONNECTION_STRING: couchbase://127.0.0.1
          TEST_LOG_LEVEL: trace
        run: ./bin/run-${{ matrix.suite }}-tests
