name: windows

on:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:
    branches:
      - main
      - 'release-*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install dependencies
        run: |
          choco install --no-progress nasm
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}
          variant: sccache
      - name: Build tests
        timeout-minutes: 80
        env:
          CB_CACHE_OPTION: sccache
          # CB_CMAKE_BUILD_TYPE: Release
          CB_CMAKE_BUILD_TYPE: RelWithDebInfo
          CB_NUMBER_OF_JOBS: 2
        run: ruby ./bin/build-tests.rb
